NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ATTENDANCE_SECRET_KEY=
ATTENDANCE_LOGIN_URL=https://host-mylmats.com/login
ATTENDANCE_USERNAME_SELECTOR=
ATTENDANCE_PASSWORD_SELECTOR=
ATTENDANCE_SUBMIT_SELECTOR=
ATTENDANCE_SECOND_PASSWORD_SELECTOR=
ATTENDANCE_SECOND_SUBMIT_SELECTOR=
ATTENDANCE_SUCCESS_SELECTOR=
